@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;800&display=swap');

header{

}

body{
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  color: #030303;
  background: #fafafa;
}

input,select,textarea,button{
  font: inherit;
}

section{
  max-width: 60rem;
  margin: 0 auto;

  .id{
    /* color: red; */
  }
}

a{
  color: #333;
}